<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fnaffrpbhef@s-z.sz</string>
	<key>contactName</key>
	<string>René Schwaiger</string>
	<key>description</key>
	<string>Support for the grammar definition language &lt;a href="http://www.wikiwand.com/en/Augmented_Backus–Naur_Form"&gt;ABNF&lt;/a&gt;.</string>
	<key>name</key>
	<string>ABNF</string>
	<key>uuid</key>
	<string>891616C6-541A-4635-920A-E459B041F458</string>
</dict>
</plist>
